<div class="xyz">
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Courses Enrolled</h3>
        <p>No of classes</p>
        <p>credits:</p>
        <h5 class="card-title">{{module[0].course1}}</h5>
        <mat-card-actions>
          <a mat-raised-button color="primary" [routerLink]="['/course-edit', module[0].userName]"><mat-icon>edit</mat-icon></a>
        </mat-card-actions>

      </div>
    </div>
<!-- We are using the cards concept here for this display -->
    <div class="column">
      <div class="card">
        <h3>Courses Enrolled</h3>
        <p>No of classes</p>
        <p>credits:</p>
        <h5 class="card-title">{{module[0].course2}}</h5>
        <mat-card-actions>
          <a mat-raised-button color="primary" [routerLink]="['/course-edit', module[0].userName]"><mat-icon>edit</mat-icon></a>
        </mat-card-actions>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3>Courses Enrolled</h3>
        <p>No of classes</p>
        <p>credits:</p>
        <h5 class="card-title">{{module[0].course3}}</h5>
        <mat-card-actions>
          <a mat-raised-button color="primary" [routerLink]="['/course-edit', module[0].userName]"><mat-icon>edit</mat-icon></a>
        </mat-card-actions>
      </div>
    </div>
<!--This is for displaying the courses enrolled-->

  </div>
</div>
